
        <div class="page-header">
            <h1>Product Detail</h1>

            <p class="lead">Here is the detail information of the product!
            </p>
        </div>

         <div class="row" ng-controller="ProductDetailsCtrl">
                <div class="col-md-5">
                    <img src="" alt="image"
                             width="100%" />
                </div>
                 
                <div class="col-md-5">
                    <h3>{{product.productName}}</h3>
  
                    <p><strong>Description</strong> : {{product.productDescription}}</p>
                    <p>
                       <strong>Manufacturer</strong> : {{product.productManufacturer}}
                    </p>
                    <p>
                        <strong>Category</strong> : {{product.productCategory}}
                    </p>
                    <p>
                        <strong>Condition</strong> : {{product.productCondition}}
                    </p>
                    <p>
                        <strong>Price</strong> : {{product.productPrice | currency}}
                    </p>
                    
                    <br>

                    <!--<c:set var="role" scope="page" value="${param.role}" />
                    <c:set var="url" scope="page" value="/product/productList" />
                    <c:if test="${role='admin'}">
                        <c:set var="url" scope="page" value="/admin/productInventory" />
                    </c:if>
                    -->
                   <p>
                        <a href="#/products" class="btn btn-info">Back</a>
                        <a href="#/customer/cart" class="btn btn-warning btn-large"
                           ng-click="addToCart()"><span
                                class="glyphicon glyphicon-shopping-cart"></span>Order
                            Now</a>
                        <a href="#/customer/cart" class="btn btn-default"><span class="glyphicon glyphicon-hand-right"></span>View Cart</a>
                    </p>
                   
                </div>
            </div>
     


