
        <div class="page-header">
            <h1>Product Detail</h1>

            <p class="lead">Here is the detail information of the product!
            </p>
        </div>

            <div class="row" ng-controller="ProductDetailsCtrl">
                <div class="col-md-5">
                    <img src="images/{{product.productId}}.jpg" alt="image"
                             width="100%" />
                </div>

                <div class="col-md-5">
                    <h3>{{product.productName}}</h3>
                    <p>{{product.productDescription}}</p>
                    <p>
                       <strong>Manufacturer</strong> : {{product.productManufacturer}}
                    </p>
                    <p>
                        <strong>Category</strong> : {{product.productCategory}}
                    </p>
                    <p>
                        <strong>Condition</strong> : {{product.productCondition}}
                    </p>
                    <h4>{{product.productPrice | currency}}</h4>

                    <br>

                    <!--<c:set var="role" scope="page" value="${param.role}" />
                    <c:set var="url" scope="page" value="/product/productList" />
                    <c:if test="${role='admin'}">
                        <c:set var="url" scope="page" value="/admin/productInventory" />
                    </c:if>

                   <p ng-controller="cartCtrl">
                        <a href="<c:url value="${url}" />" class="btn btn-default">Back</a>
                        <a href="#" class="btn btn-warning btn-large"
                           ng-click="addToCart('${product.productId}')"><span
                                class="glyphicon glyphicon-shopping-cart"></span>Order
                            Now</a>
                        <a href="<spring:url value="/customer/cart" />"
                           class="btn btn-default"><span class="glyphicon glyphicon-hand-right"></span>View Cart</a>
                    </p>
                    -->
                </div>
            </div>
     


